body {
    background: url("./assets/background.png");
    overflow: hidden;
}

/* div {
    background-color: rgb(167, 167, 167);
} */

.container {
    max-width: 300px;
    margin: 100px auto 40px;
  }

img {
    width: 640px;
    height: 426px;
}