.backgroundHome {
    background: url("../assets/LoginBackground.png") no-repeat center fixed;
    background-size: cover;
    overflow: hidden;


}

.Polygon-0 {
    margin-left: 0;
    margin-top: 30px;
}

.Polygon-1 {
    margin-left: 180px;
    margin-top: -55px !important;
}

.Polygon-1-Img {
    background: url("../assets/ico/tambah\ karyawan.png") no-repeat center;
    background-size: cover;
}

.Polygon-2-Img {
    background: url("../assets/ico/Profil.png") no-repeat center;
    background-size: cover;
}

.Polygon-2 {
    margin-left: 360px;
    margin-top: -115px !important;
}

.Polygon-3 {
    margin-left: -3px;
    margin-top: -223px !important;
}

.Polygon-4 {
    margin-left: 177px;
    margin-top: -109px !important;
}

.Polygon-5 {
    margin-left: -6px;
    margin-top: -118px !important;
}

.Polygon-Warp {
    filter: drop-shadow(-6px 10px 10px rgb(142, 141, 141));
}

.Polygon {
    clip-path: polygon(30% 0%, 75% 0%, 96% 50%, 75% 100%, 30% 100%, 8% 50%);
    background-color: #eeeeee;
    background-position: center;
    margin-left: 100px;
    display: flex;
    width: 265px;
    height: 196px;
}