.backgroundHome {
    background: url("../assets/LoginBackground.png") no-repeat center fixed;
    background-size: cover;
    overflow: hidden;


}

.Polygon-1 {
    margin-left: 230px;
    margin-top: -75px !important;
}

.Polygon-2 {
    margin-left: 460px;
    margin-top: -150px !important;
}

.Polygon-3 {
    margin-left: -10px;
    margin-top: -290px !important;
}

.Polygon-4 {
    margin-left: 230px;
    margin-top: -150px !important;
}

.Polygon-5 {
    margin-left: -10px;
    margin-top: -150px !important;
}

.Polygon-Warp {
    filter: drop-shadow(-6px 10px 10px rgb(142, 141, 141));
}

.Polygon {
    clip-path: polygon(30% 0%, 75% 0%, 96% 50%, 75% 100%, 30% 100%, 8% 50%);
    background-color: #eeeeee;
    background-position: center;
    margin-left: 100px;
    display: flex;
    width: 350px;
    height: 266px;
}